ul {
    list-style-type: none;
}

nav .navbar-nav li a{
    color:#ffff !important;
}

svg .mpld3-figure {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

div {
    display: block;
}

.fit-picture {
    max-width: 800px;
    height: auto;
  }