<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Homepage</title>
  </head>
  <body>
    <h1>Homepage - Visualization</h1>
    <ul>
      <li><a id="tuning" onClick="reply_click(this)" href="#">Tuning</a></li>
      <li><a id="analyse" onClick="reply_click(this)" href="#">Analyse</a></li>
    </ul>
    <span id=result>{{data}}</span>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='requestAjax.js')}}"></script>
  </body>
</html>