<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="{{url_for('static', filename='requestAjax.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Homepage</title>
  </head>
  <body>
    <h1>Homepage - Visualization</h1>
    <nav class="navbar navbar-dark bg-primary">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 container-fluid justify-content-center">
      <li class="nav-item"><a class="nav-link" id="tuning"  href="tuning">Tuning</a></li>
      <li class="nav-item"><a class="nav-link" id="analyse"  href="analyse">Analyse</a></li>
    </ul>
    </nav>
    <h2>Default classifier</h2>
    <table>
      <tr>
        <td></td>
        <td>Train</td>
        <td>Test</td>
      </tr>
      <tr>
        <td>Accuracy</td>
        <td>{{data["acc_model_train"].clf_score}}</td>
        <td>{{data["acc_model_test"].clf_score}}</td>
      </tr>
      <tr>
        <td>F1 score</td>
        <td>{{data["acc_model_train"].clf_f1_score}}</td>
        <td>{{data["acc_model_test"].clf_f1_score}}</td>
      </tr>
      <tr>
        <td>ROC AUC score</td>
        <td>{{data["acc_model_train"].clf_roc_auc_score}}</td>
        <td>{{data["acc_model_test"].clf_roc_auc_score}}</td>
      </tr>
    </table>
    <img src="/static/pictures/confusion_matrix_tuned.png">
    <img src="/static/pictures/roc_curve_default.png"> 
  </body>
</html>